.mmodal{}

.modalwindow, .modaloverlay{
    opacity: 0;
    z-index: -1;
}

.mmodal.open .modaloverlay,
.mmodal.open .modalwindow {
    opacity: 1;
    z-index: 1000;
}

.mmodal.open .modalwindow {
    transform: translateY(100px);
}
.mmodal.open .modaloverlay {
    background: rgba(88, 80, 80, 0.1);
}

.mmodal.hide .modaloverlay,
.mmodal.hide .modalwindow {
    opacity: 1;
    z-index: 1000;
}

.mmodal.hide .modalwindow {
    transform: translateY(-200px);
}
.mmodal.hide .modaloverlay {
    background: rgba(0, 0, 0, 0);
}
.modaloverlay{
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background .1s ease-in-out;
}

.modalwindow {
    background: white;
    width: 450px;
    height: auto;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .3s ease-in-out;
    border-radius: 5%;
}

.modalheader {
    background: rgba(216, 241, 72, 0.2);
    padding: 20px;
    position: relative;
}

.modalclose{
    cursor: pointer;
    float: right;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 20px;  
}
  
.modalclose:hover {
  color: rgb(44, 13, 220);
}

.modalbody{
    background: rgba(22, 156, 197, 0.1);
    padding: 10px 20px 5px 20px;
    line-height: 0.7;
    border-bottom: 2px solid rgba(22, 156, 197, 0.3);
    border-top: 2px solid rgba(22, 156, 197, 0.3);
}

.modalfooter{
    background: rgba(216, 241, 72, 0.2);
    padding: 5px;
    text-align: right;
}
.btn {
    background-color: rgba(82, 200, 221, 0.9);
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 15%;
  }

